<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <title>
            {% block title %} {{title}} {% endblock title %}-|- Story Telling Website
        </title>
    </head>
    {% endblock head %}
    {% block body %}
    <body>
        {# Display flashed messages #}
        {% set messages = get_flashed_messages() %}
        {% for msg in messages %}
        <h1>{{msg}}</h1>
        {% endfor %}

        {% block content %}
        Welcome to our collaborative story telling website!<br>
        Blah blah blah stuff our website is about here.<br>
        <a href='/auth'>Login here!</a><br>
        <a href='/signup'>Signup here!</a><br>
        <a href='/profile'>Head to your profile if you're already logged in!</a><br>
        {{ content }}
        {% endblock content %}
    </body>
    {% endblock body %}
</html>
