{% extends "base.html" %}

<!-- puts in a list of your stories as content -->
{% block content %}
	<p style="text-align:center;">
    <h1 style="text-align:center">My Stories</h1><br>

		<!-- For each story, display last entry and a button that says "See story progress"; start from the most recent and go to the rest-->
	  <center>
			<a href='/base'> &nbsp Edit another story</a><br> <!--Redirect to home page(base.html)-->
			<a href='/create_story'> &nbsp Create new story</a><br> <!--Redirect to add entry form--></center>
			<p>
			<!-- Stories dictionary: {{stories}}-->
			{% for title in stories %}
		  	<h3 style="text-align:left"> &nbsp Story#: <i> {{ stories[title][0] }} </i>
		  	<h2 style="text-align:left"> &nbsp Title: <i> {{ title }} </i></h2><br>
				<h4 style="text-align:left"><i> <a href= {{stories[title][1]}}> Read Full Story</i></h4><br><br>
			{% endfor %}
			</p>
		</center>
  </p>
{% endblock content %}
