{% extends "base.html" %}

{% block content %}
	<p style="text-align:center;">
          <h1 style="text-align:center">My Stories</h1>

	<!-- For each story, display last entry and a button that says "See story progress"; start from the most recent and go to the rest-->
        <br><center>
	<a href='/base'> &nbsp Edit another story</a><br> <!--Redirect to home page(base.html)-->
	<a href='/create_story'> &nbsp Create new story</a><br> <!--Redirect to add entry form--></center>

	{% for title in stories %}
	<!-- Stories dictionary: {{stories}}-->
	<p>
	  <h3 style="text-align:left"> &nbsp Story#: <i> {{ stories[title][0] }} </i>
	  <h2 style="text-align:left"> &nbsp Title: <i> {{ title }} </i><br></h2>	    <h4 style="text-align:left"><i> <a href= {{stories[title][1]}}> Read Full Story</i><br></h4>

	    <br><br>
	{% endfor %}
        </p>

{% endblock content %}
